body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


#home {
    padding: 60px 20px 60px 20px;  /* top, right, bottom, left */
    margin:60px 220px 60px 220px ;
    text-align: center;
    background-color: rgba(244, 244, 244, 0.5); /* Transparent background color */
    color: #333;
}



